<h1>Family Account Management</h1>

<% if (message) { %>
  <h2>
    <%= message %>
  </h2>

<% } %>

<% if (family) { %>
<h4><a href="/family/<%= family.id %>/pushuser">Update users</a></h4>
<h4><a href="/family/<%= family.id %>/deleteuser">Delete user</a></h4>

<% } else { %>

<h4><a href="/family/create">Create family account</a></h4>

<% } %>
