<h1>Family Account Management</h1><a href="/family/create" class="btn btn-primary" style="float: right">Create</a>



<% if (message) { %>
  <h2>
    <%= message %>
  </h2>

<% } %>

<% if (family) { %>
<a class="btn btn-primary" href="/family/<%= family.id %>/update">Update family</a>
<form method="POST" action="/family/<%= family.id%>?_method=DELETE">
<button class="btn btn-danger" type="submit">
  Delete family
  </button>
</form>

<% } else { %>

<h4><a href="/family/create">Create family account</a></h4>

<% } %>
