

<h1>Family Account Management<span><a href="/family/create" class="btn btn-primary" style="float: right">Create</a></span></h1>


<div class="events row">

<% if (message) { %>
  <h3>
    <%= message %>
  </h3>

<% } %>

<% if (family) { %>
  <div style="display: flex">
<a class="btn btn-primary" href="/family/<%= family.id %>/update">Update members</a>
<form method="POST" action="/family/<%= family.id%>?_method=DELETE">
<button class="btn btn-danger" type="submit">
  Delete family
  </button>
</form>
</div>

<% } else { %>

<h4><a href="/family/create">Create family account</a></h4>

<% } %>

</div>
