

<form method="post" action="/events" enctype="multipart/form-data">
  <h2>Add an event</h2>

  <div class="row">
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="events[name]" id="name" placeholder="Event title" required>
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="events[status]" id="status" placeholder="Event status">
    </div>
    <div class="form-group col-md-4">
      <input type="date" class="form-control" name="events[date]" id="date">
    </div>
    <div class="form-group col-md-4">
      <textarea type="text" class="form-control" name="events[venue]" id="venue" placeholder="Event venue"></textarea>

    </div>
    <div class="form-group col-md-8">
      <textarea type="text" class="form-control" name="events[description]" id="description" placeholder="Describe your event"></textarea>

    </div>
    <div class="form-group col-md-4">
      <input type="file" class="form-control" name="events[attachments]" id="attachments" multiple>
    </div>
    <div class="form-group col-md-4">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
